Repository kontainapp/km: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipeline-kkm.yml, azure-pipelines.yml

azure-pipeline-kkm.yml:
  name: ci-$(BuildID) $(Date:yyyyMMdd)$(Rev:.r)
  jobs:
  - job: kkm_ci
    variables:
      vmImage: ubuntu-18.04
      buildenv_image_version: alpine_libs
    timeoutInMinutes: 0
    pool:
      vmImage: $(vmImage)
    steps:
    - template: templates/setup.yaml
    - template: templates/kkm.yaml
    - bash: 'set -ex
  
  ...

azure-pipelines.yml:
  name: ci-$(BuildID) $(Date:yyyyMMdd)$(Rev:.r)
  jobs:
  - job: normal_ci
    variables:
      vmImage: ubuntu-20.04
      dtype: $(buildenv.type)
      buildenv_image_version: latest
      image_version: ci-$(Build.BuildId)
    timeoutInMinutes: '0'
    pool:
      vmImage: $(vmImage)
    strategy:
      matrix:
  ...

Preserve SA_RESTORER address in snapshots
  km/km_coredump.h
  km/km_signal.c
  tests/snapshot_test.c
Due: azure-pipeline-kkm.yml, azure-pipelines.yml

ensure SA_RESTORER is set by MUSL sigaction(2)
  tests/snapshot_test.c
Due: azure-pipeline-kkm.yml, azure-pipelines.yml

Preserve SA_RESTORER address in snapshots (#1315)
  km/km_coredump.h
  km/km_signal.c
  tests/snapshot_test.c
Due: azure-pipeline-kkm.yml, azure-pipelines.yml

automate release publish
  .github/workflows/L0-packer-build.yaml
  .github/workflows/km-ci-workflow.yaml
  .github/workflows/release.yaml
  Makefile
  cloud/azure/L0-image.pkr.hcl
  cloud/azure/Makefile
  cloud/azure/scripts/vagrant-box.sh
  cloud/azure/vagrant-box.pkr.hcl
  cloud/dockerhub/Makefile
  cloud/k8s/kontaind/Makefile
  docs/release.md
  km/Makefile
  make/actions.mk
  make/images.mk
  make/locations.mk
  payloads/demo-dweb/Makefile
  payloads/dynamic-python/Makefile
  payloads/java/Makefile
  payloads/node/Makefile
  payloads/python/Makefile
  tests/buildenv-fedora.dockerfile
  tests/packer/km-az-test.pkr.hcl
  tests/packer/scripts/km-test.sh
  tools/bin/create_release.sh
  tools/hashicorp/Makefile
  tools/hashicorp/aws_ami_templates/config.pkr.hcl
  tools/hashicorp/aws_ami_templates/ubuntu-aws.pkr.hcl
  tools/hashicorp/box_images_templates/build_km_images.pkr.hcl
  tools/hashicorp/box_images_templates/fedora32.pkrvars.hcl
  tools/hashicorp/scripts/fedora.install_km.sh
  tools/hashicorp/scripts/ubuntu.install_km.sh
  tools/hashicorp/test_ami_upload.pkr.hcl
  tools/hashicorp/test_box_upload.pkr.hcl
Due: azure-pipeline-kkm.yml, azure-pipelines.yml

SP_SUBSCRIPTION_ID
  .github/workflows/km-ci-workflow.yaml
Due: azure-pipeline-kkm.yml, azure-pipelines.yml

review changes
  .github/workflows/km-ci-workflow.yaml
  .github/workflows/release.yaml
  Makefile
  make/actions.mk
  make/locations.mk
Due: azure-pipeline-kkm.yml, azure-pipelines.yml

Address verbal review comments.
  container-runtime/docker_config.sh
  container-runtime/podman_config.sh
  km/km_hcalls.c
  make/images.mk
Due: azure-pipeline-kkm.yml, azure-pipelines.yml

Remove debug debris.
  container-runtime/podman_config.sh
Due: azure-pipeline-kkm.yml, azure-pipelines.yml

automate release publish (#1316)
  .github/workflows/L0-packer-build.yaml
  .github/workflows/km-ci-workflow.yaml
  .github/workflows/release.yaml
  Makefile
  cloud/azure/L0-image.pkr.hcl
  cloud/azure/Makefile
  cloud/azure/scripts/vagrant-box.sh
  cloud/azure/vagrant-box.pkr.hcl
  cloud/dockerhub/Makefile
  cloud/k8s/kontaind/Makefile
  docs/release.md
  km/Makefile
  make/actions.mk
  make/images.mk
  make/locations.mk
  payloads/demo-dweb/Makefile
  payloads/dynamic-python/Makefile
  payloads/java/Makefile
  payloads/node/Makefile
  payloads/python/Makefile
  tests/buildenv-fedora.dockerfile
  tests/packer/km-az-test.pkr.hcl
  tests/packer/scripts/km-test.sh
  tools/bin/create_release.sh
  tools/hashicorp/Makefile
  tools/hashicorp/aws_ami_templates/config.pkr.hcl
  tools/hashicorp/aws_ami_templates/ubuntu-aws.pkr.hcl
  tools/hashicorp/box_images_templates/build_km_images.pkr.hcl
  tools/hashicorp/box_images_templates/fedora32.pkrvars.hcl
  tools/hashicorp/scripts/fedora.install_km.sh
  tools/hashicorp/scripts/ubuntu.install_km.sh
  tools/hashicorp/test_ami_upload.pkr.hcl
  tools/hashicorp/test_box_upload.pkr.hcl
Due: azure-pipeline-kkm.yml, azure-pipelines.yml

Update release.yaml
  .github/workflows/release.yaml
Due: azure-pipeline-kkm.yml, azure-pipelines.yml

Update release.yaml (#1317)
  .github/workflows/release.yaml
Due: azure-pipeline-kkm.yml, azure-pipelines.yml

SRC_BRANCH with tag
  .github/workflows/release.yaml
  cloud/azure/scripts/vagrant-box.sh
  make/locations.mk
Due: azure-pipeline-kkm.yml, azure-pipelines.yml

SRC_BRANCH with tag (#1318)
  .github/workflows/release.yaml
  cloud/azure/scripts/vagrant-box.sh
  make/locations.mk
Due: azure-pipeline-kkm.yml, azure-pipelines.yml

Raw ideas for new k8s installation stuff.
  demo/k8s/app.dockerfile
  demo/k8s/app.py
  demo/k8s/app.sh
  demo/k8s/app.yaml
  demo/k8s/kontain-deamon.dockerfile
  demo/k8s/kontain-deploy.sh
  demo/k8s/kontain-runtime.yaml
Due: azure-pipeline-kkm.yml, azure-pipelines.yml

working install
  cloud/k8s/deploy/Makefile
  cloud/k8s/deploy/README.md
  cloud/k8s/deploy/k8s-deploy.dockerfile
  cloud/k8s/deploy/k8s-deploy.sh
  cloud/k8s/deploy/k8s-deploy.yaml
Due: azure-pipeline-kkm.yml, azure-pipelines.yml

Working k8s runtime deploy (cri-o only)
  cloud/k8s/deploy/README.md
  cloud/k8s/deploy/k8s-deploy.sh
  demo/k8s/README.md
  demo/k8s/app.dockerfile
  demo/k8s/app.py
  demo/k8s/app.sh
  demo/k8s/kontain-deamon.dockerfile
  demo/k8s/kontain-deploy.sh
  demo/k8s/kontain-runtime.yaml
  demo/k8s/test.yaml
Due: azure-pipeline-kkm.yml, azure-pipelines.yml

Add minikube notes.
  demo/k8s/README.md
Due: azure-pipeline-kkm.yml, azure-pipelines.yml

github release
  .github/workflows/release.yaml
  docs/user-guide.md
  km-releases/default-release
  km-releases/kontain-install.sh
  make/actions.mk
  make/locations.mk
  tools/release/release_km.py
Due: azure-pipeline-kkm.yml, azure-pipelines.yml

github release (#1320)
  .github/workflows/release.yaml
  docs/user-guide.md
  km-releases/default-release
  km-releases/kontain-install.sh
  make/actions.mk
  make/locations.mk
  tools/release/release_km.py
Due: azure-pipeline-kkm.yml, azure-pipelines.yml

review comments - runenv to build deployment container
  cloud/k8s/deploy/Makefile
  cloud/k8s/deploy/README.md
  cloud/k8s/deploy/k8s-deploy.sh
  cloud/k8s/deploy/k8s-deploy.yaml
  cloud/k8s/deploy/runenv.dockerfile
  container-runtime/Makefile
Due: azure-pipeline-kkm.yml, azure-pipelines.yml

uniform indent on script
  cloud/k8s/deploy/k8s-deploy.sh
Due: azure-pipeline-kkm.yml, azure-pipelines.yml

add quickstart
  demo/k8s/test.yaml
  docs/kubernetes/quickstart.md
Due: azure-pipeline-kkm.yml, azure-pipelines.yml

deploy container with systemctl (centos:7)
  cloud/k8s/deploy/runenv.dockerfile
Due: azure-pipeline-kkm.yml, azure-pipelines.yml

doc update
  cloud/k8s/deploy/README.md
  docs/kubernetes/README.md
Due: azure-pipeline-kkm.yml, azure-pipelines.yml

outline expanaded k8s doc
  docs/kubernetes/README.md
  docs/kubernetes/architecture.md
  docs/kubernetes/install.md
Due: none

user guide update for new k8s integration
  docs/kubernetes/README.md
  docs/kubernetes/architecture.md
  docs/user-guide.md
Due: none

informative log message when processor is not supported by KKM
  km/km.h
  km/km_cpu_init.c
  km/km_kkm.h
  km/km_vmdriver.c
Due: azure-pipeline-kkm.yml, azure-pipelines.yml

fix node build from source
  payloads/node/Makefile
Due: azure-pipeline-kkm.yml, azure-pipelines.yml

fix node build from source (#1324)
  payloads/node/Makefile
Due: azure-pipeline-kkm.yml, azure-pipelines.yml

Add Analyzing KM Core Dumps
  docs/debugging-guide.md
Due: none

docs update
  docs/kubernetes/README.md
  docs/kubernetes/quickstart.md
Due: none

fix release URL
  km-releases/kontain-install.sh
Due: azure-pipeline-kkm.yml

fix release URL (#1327)
  km-releases/kontain-install.sh
Due: azure-pipeline-kkm.yml

Doc update
  docs/kubernetes/README.md
  docs/kubernetes/architecture.md
  docs/kubernetes/install.md
Due: none

correct spelling
  cloud/k8s/deploy/README.md
  demo/k8s/README.md
  docs/kubernetes/README.md
Due: azure-pipeline-kkm.yml, azure-pipelines.yml

Path conditions:
  azure-pipeline-kkm.yml: any file but: README.md, compile_commands.json, .vscode, docs, demo/nokia
  azure-pipelines.yml: any file but: README.md, compile_commands.json, .vscode, docs, demo/nokia, km-releases
