Repository kontainapp/km: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipeline-kkm.yml, azure-pipelines.yml

azure-pipeline-kkm.yml:

name: ci-$(BuildID) $(Date:yyyyMMdd)$(Rev:.r)

trigger:
  branches:
    include:
      - master
      - kkm/ci/* # Force CI run. For example, kkm/ci/some-changes
  paths:
    exclude:
      - README.md
      - compile_commands.json
      - .vscode/*
      - docs/*
      - demo/nokia/*

pr:
  branches:
    include:
      - master
  paths:
    exclude:
      - README.md
      - compile_commands.json
      - .vscode/*
      - docs/*
      - demo/nokia/*

jobs:
  - job: kkm_ci
    variables:
      vmImage: "ubuntu-18.04"
      buildenv_image_version: alpine_libs # use this for all buildenv containers
      # trace: true # uncomment to enable '-x' in all bash scripts

    # Default job has a 60 minutes timeout. Sets this to 0 to use the max
    # 360 minutes timeout.
    timeoutInMinutes: 0
    pool:
      vmImage: $(vmImage)
    steps:
      - template: templates/setup.yaml

      - template: templates/kkm.yaml

      - bash: |
          set -ex
          az logout
        condition: always()
        displayName: Cleanup and logout

azure-pipelines.yml:

#
# Kontain Monitor Azure Pipeline definition
#
name: ci-$(BuildID) $(Date:yyyyMMdd)$(Rev:.r)

trigger:
  branches:
    include:
      - master
      - ci/* # prefix ci/ to force CI on every push. e.g. ci/msterin/test-azure-devops
  paths:
    exclude:
      - README.md
      - compile_commands.json
      - .vscode/*
      - docs/*
      - demo/nokia/*
      - km-releases

pr:
  branches:
    include:
      - master
  paths:
    exclude:
      - README.md
      - compile_commands.json
      - .vscode/*
      - docs/*
      - demo/nokia/*
      - km-releases

jobs:
  - job: normal_ci
    variables:
      vmImage: "ubuntu-20.04"
      # NOTE: In Azure pipeline setting a variable also makes variable's UPPCASE_NAME
      # exposed in environment for all tasks. E.g. 'dtype=fedora' means all tasks will have
      # an environment DTYPE=fedora.
      dtype: $(buildenv.type) # until we add other distros, this always maps to fedora (see 'strategy' below)
      buildenv_image_version: latest # use this for all buildenv containers
      image_version: ci-$(Build.BuildId) # use this for all other containers
      # trace: true # uncomment to enable '-x' in all bash scripts

    # Default job has a 60 minutes timeout. Sets this to 0 to use the max
    # 360 minutes timeout.
    timeoutInMinutes: "0"
    pool:
      vmImage: $(vmImage)
    strategy:
      matrix:
        fedora:
          buildenv.type: fedora
        # Note: DTYPE=$(buildenv.type) below is needed only for Ubuntu; fedora is the default
        # ubuntu:
        #   buildenv.type: ubuntu
    steps:
      - template: templates/setup.yaml

      - template: templates/build.yaml

      - template: templates/ci_normal.yaml

      - bash: |
          [ "$TRACE" ] && set -x
          # TODO - if the **test** failed (especially with kmcore), we want to keep these pods for a few days
          # Setting vars doc: https://docs.microsoft.com/en-us/azure/devops/pipelines/process/variables
          echo "======= Printing statuses and cleaning up ======"
          make -C tests clean-stale-test-k8s
          rm -f ~/.kube/config
          az logout
        condition: always()
        displayName: Cleanup test job, purge old test images and logout

Update FAQ.md
  docs/FAQ.md
Due: none

display kernel logs always
  .github/workflows/km-ci-workflow.yaml
Due: azure-pipeline-kkm.yml, azure-pipelines.yml

Update README.md
  km-releases/README.md
Due: azure-pipeline-kkm.yml

Kreative kat/docs updates (#1279)
  docs/FAQ.md
  docs/debugging-guide.md
  docs/known-isssues.md
  docs/user-guide.md
  km-releases/README.md
Due: azure-pipeline-kkm.yml

fix typo introduced by fixing gcc9 messages
  km/km_exec_fd_save_recover.c
Due: azure-pipeline-kkm.yml, azure-pipelines.yml

Add files via upload
  README.md
Due: none

Update README.md
  README.md
Due: none

Clean up of docs and usage of individual name in examples
  .github/workflows/L0-packer-build.yaml
  .github/workflows/km-ci-workflow.yaml
  cloud/azure/vagrant-box.pkr.hcl
  cloud/k8s/knative/km-build-auth.yaml
  cloud/minikube/cloud_config.mk
  docs/how-tos/login-dockerhub.md
  docs/vms_packer_in_ci_and_more.md
  km-releases/kontain-install.sh
  payloads/k8s/minikube/kustomization.yaml
  payloads/python/extensions/examples/dlstatic_km.mk
  tools/release/tests/test_release_local/test_release_local.py
Due: azure-pipeline-kkm.yml, azure-pipelines.yml

Foundation for using packer-based VMs and images in tests/CI
  .github/workflows/L0-packer-build.yaml
  .github/workflows/km-ci-workflow.yaml
  cloud/aws/kkm-test.bash
  cloud/aws/kkm-test.pkr.hcl
  cloud/azure/L0-image.pkr.hcl
  cloud/azure/Makefile
  cloud/azure/README.md
  cloud/azure/azure_vm.sh
  cloud/azure/scripts/L0-image-provision.sh
  cloud/azure/scripts/vagrant-box.sh
  cloud/azure/vagrant-box.pkr.hcl
  cloud/k8s/kontaind/Makefile
  docs/build.md
  docs/vms_packer_in_ci_and_more.md
  make/actions.mk
  make/images.mk
  make/locations.mk
  payloads/java/Makefile
  tests/Makefile
  tests/packer/Makefile
  tests/packer/Readme.md
  tests/packer/km-test.pkr.hcl
  tests/packer/scripts/km-test.sh
  tools/hashicorp/Makefile
  tools/hashicorp/box_images_templates/build_km_images.pkr.hcl
  tools/hashicorp/box_images_templates/fedora32.pkrvars.hcl
  tools/hashicorp/box_images_templates/ubuntu2010.pkrvars.hcl
Due: azure-pipeline-kkm.yml, azure-pipelines.yml

Misc bug fixes
  .github/workflows/km-ci-workflow.yaml
  docs/vms_packer_in_ci_and_more.md
  make/images.mk
  tests/packer/km-test.pkr.hcl
  tests/packer/scripts/km-test.sh
Due: azure-pipeline-kkm.yml, azure-pipelines.yml

added missed -force to packer build
  make/images.mk
Due: azure-pipeline-kkm.yml, azure-pipelines.yml

kvm access and az login
  tests/packer/km-test.pkr.hcl
  tests/packer/scripts/km-test.sh
Due: azure-pipeline-kkm.yml, azure-pipelines.yml

format auto-change; moving depend. goals for withpacker, and allowing top level dir scanning INSIDE packer
  .github/workflows/km-ci-workflow.yaml
  cloud/azure/Makefile
  make/images.mk
  make/locations.mk
  tests/Makefile
  tests/packer/Makefile
  tools/hashicorp/Makefile
Due: azure-pipeline-kkm.yml, azure-pipelines.yml

Using packer-based VMs and images in tests/CI (#1275)
  .github/workflows/L0-packer-build.yaml
  .github/workflows/km-ci-workflow.yaml
  cloud/aws/Makefile
  cloud/aws/kkm-test.bash
  cloud/aws/kkm-test.pkr.hcl
  cloud/azure/L0-image.pkr.hcl
  cloud/azure/Makefile
  cloud/azure/README.md
  cloud/azure/azure_vm.sh
  cloud/azure/scripts/L0-image-provision.sh
  cloud/azure/scripts/vagrant-box.sh
  cloud/azure/vagrant-box.pkr.hcl
  cloud/k8s/knative/km-build-auth.yaml
  cloud/k8s/kontaind/Makefile
  cloud/minikube/cloud_config.mk
  docs/build.md
  docs/how-tos/login-dockerhub.md
  docs/vms_packer_in_ci_and_more.md
  km-releases/kontain-install.sh
  make/actions.mk
  make/images.mk
  make/locations.mk
  payloads/java/Makefile
  payloads/k8s/minikube/kustomization.yaml
  payloads/python/extensions/examples/dlstatic_km.mk
  tests/Makefile
  tests/packer/Makefile
  tests/packer/Readme.md
  tests/packer/km-test.pkr.hcl
  tests/packer/scripts/km-test.sh
  tools/hashicorp/Makefile
  tools/hashicorp/box_images_templates/build_km_images.pkr.hcl
  tools/hashicorp/box_images_templates/fedora32.pkrvars.hcl
  tools/hashicorp/box_images_templates/ubuntu2010.pkrvars.hcl
  tools/release/tests/test_release_local/test_release_local.py
Due: azure-pipeline-kkm.yml, azure-pipelines.yml

Update vms_packer_in_ci_and_more.md
  docs/vms_packer_in_ci_and_more.md
Due: none

disable azure kkm test for now
  tests/packer/km-test.pkr.hcl
Due: azure-pipeline-kkm.yml, azure-pipelines.yml

set REUSEADDR on listening socket on recovery
  km/km_filesys.c
Due: azure-pipeline-kkm.yml, azure-pipelines.yml

Add getgroups, getuid, geteuid, getgit, getegid hypercalls to km
  km/km_hcalls.c
  tests/km_core_tests.bats
  tests/uidgid_test.c
Due: azure-pipeline-kkm.yml, azure-pipelines.yml

Add getgroups, getuid, geteuid, getgit, getegid hypercalls to km (#1284)
  km/km_hcalls.c
  tests/km_core_tests.bats
  tests/uidgid_test.c
Due: azure-pipeline-kkm.yml, azure-pipelines.yml

Fix bugs found with 'make release' (#1277)
  include/Makefile
  lib/libkontain/Makefile
  lib/mimalloc/Makefile
  tools/bin/create_release.sh
Due: azure-pipeline-kkm.yml, azure-pipelines.yml

TF demo app based on busybox base
  demo/spring-boot/Makefile
  demo/spring-boot/test/test.sh
  demo/test-app/Dockerfile
  demo/test-app/Makefile
  demo/test-app/README.md
  demo/test-app/Vagrantfile
  demo/test-app/p.sh
  demo/test-app/run.sh
  demo/test-app/run_km.sh
  demo/test-app/run_snap.sh
  demo/test-app/test.sh
  demo/test-app/tmp/KEEP
  demo/test-app/tmp/start_time
  make/images.mk
  payloads/Makefile
  payloads/busybox/Makefile
  payloads/dynamic-base-large/Makefile
  payloads/dynamic-base-large/buildenv-fedora.dockerfile
  payloads/dynamic-base-large/demo-runenv.dockerfile
  payloads/dynamic-base-large/runenv.dockerfile
  payloads/dynamic-base-large/test-fedora.dockerfile
  payloads/dynamic-python/Makefile
  payloads/dynamic-python/buildenv-fedora.dockerfile
  payloads/dynamic-python/demo-runenv.dockerfile
  payloads/dynamic-python/runenv.dockerfile
  payloads/dynamic-python/test-fedora.dockerfile
  payloads/java/Makefile
  payloads/node/Makefile
  payloads/python/Makefile
  payloads/python/link-km.sh
  payloads/python/runenv/rootfs.sh
  payloads/python/test-fedora.dockerfile
  tests/buildenv-fedora.dockerfile
Due: azure-pipeline-kkm.yml, azure-pipelines.yml

squelch gcc diagnostics for getgroups in test
  tests/uidgid_test.c
Due: azure-pipeline-kkm.yml, azure-pipelines.yml

review
  tests/uidgid_test.c
Due: azure-pipeline-kkm.yml, azure-pipelines.yml

squelch gcc diagnostics for getgroups in test (#1289)
  tests/uidgid_test.c
Due: azure-pipeline-kkm.yml, azure-pipelines.yml

common code for _at functions
  km/km_filesys.c
  km/km_filesys.h
  km/km_hcalls.c
  tests/filesys_test.c
Due: azure-pipeline-kkm.yml, azure-pipelines.yml

review comments
  km/km_filesys.c
  km/km_hcalls.c
Due: azure-pipeline-kkm.yml, azure-pipelines.yml

type fix
  km/km_hcalls.c
Due: azure-pipeline-kkm.yml, azure-pipelines.yml

pathname in utimensat
  km/km_filesys.c
  km/km_hcalls.c
Due: azure-pipeline-kkm.yml, azure-pipelines.yml

common code for _at functions (#1290)
  km/km_filesys.c
  km/km_filesys.h
  km/km_hcalls.c
  tests/filesys_test.c
Due: azure-pipeline-kkm.yml, azure-pipelines.yml

license file from apache.org
  LICENSE
Due: azure-pipeline-kkm.yml, azure-pipelines.yml
