Repository kontainapp/km: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipeline-kkm.yml, azure-pipelines.yml

azure-pipeline-kkm.yml:

name: ci-$(BuildID) $(Date:yyyyMMdd)$(Rev:.r)

trigger:
  branches:
    include:
      - master
      - kkm/ci/* # Force CI run. For example, kkm/ci/some-changes
  paths:
    exclude:
      - README.md
      - compile_commands.json
      - .vscode/*
      - docs/*
      - demo/nokia/*

pr:
  branches:
    include:
      - master
  paths:
    exclude:
      - README.md
      - compile_commands.json
      - .vscode/*
      - docs/*
      - demo/nokia/*

jobs:
  - job: kkm_ci
    variables:
      vmImage: "ubuntu-18.04"
      buildenv_image_version: alpine_libs # use this for all buildenv containers
      # trace: true # uncomment to enable '-x' in all bash scripts

    # Default job has a 60 minutes timeout. Sets this to 0 to use the max
    # 360 minutes timeout.
    timeoutInMinutes: 0
    pool:
      vmImage: $(vmImage)
    steps:
      - template: templates/setup.yaml

      - template: templates/kkm.yaml

      - bash: |
          set -ex
          az logout
        condition: always()
        displayName: Cleanup and logout

azure-pipelines.yml:

#
# Kontain Monitor Azure Pipeline definition
#
name: ci-$(BuildID) $(Date:yyyyMMdd)$(Rev:.r)

trigger:
  branches:
    include:
      - master
      - ci/* # prefix ci/ to force CI on every push. e.g. ci/msterin/test-azure-devops
  paths:
    exclude:
      - README.md
      - compile_commands.json
      - .vscode/*
      - docs/*
      - demo/nokia/*
      - km-releases

pr:
  branches:
    include:
      - master
  paths:
    exclude:
      - README.md
      - compile_commands.json
      - .vscode/*
      - docs/*
      - demo/nokia/*
      - km-releases

jobs:
  - job: normal_ci
    variables:
      vmImage: "ubuntu-20.04"
      # NOTE: In Azure pipeline setting a variable also makes variable's UPPCASE_NAME
      # exposed in environment for all tasks. E.g. 'dtype=fedora' means all tasks will have
      # an environment DTYPE=fedora.
      dtype: $(buildenv.type) # until we add other distros, this always maps to fedora (see 'strategy' below)
      buildenv_image_version: latest # use this for all buildenv containers
      image_version: ci-$(Build.BuildId) # use this for all other containers
      # trace: true # uncomment to enable '-x' in all bash scripts

    # Default job has a 60 minutes timeout. Sets this to 0 to use the max
    # 360 minutes timeout.
    timeoutInMinutes: "0"
    pool:
      vmImage: $(vmImage)
    strategy:
      matrix:
        fedora:
          buildenv.type: fedora
        # Note: DTYPE=$(buildenv.type) below is needed only for Ubuntu; fedora is the default
        # ubuntu:
        #   buildenv.type: ubuntu
    steps:
      - template: templates/setup.yaml

      - template: templates/build.yaml

      - template: templates/ci_normal.yaml

      - bash: |
          [ "$TRACE" ] && set -x
          # TODO - if the **test** failed (especially with kmcore), we want to keep these pods for a few days
          # Setting vars doc: https://docs.microsoft.com/en-us/azure/devops/pipelines/process/variables
          echo "======= Printing statuses and cleaning up ======"
          make -C tests clean-stale-test-k8s
          rm -f ~/.kube/config
          az logout
        condition: always()
        displayName: Cleanup test job, purge old test images and logout

Change faktory to use containerd/image-spec v1.0.2
  tools/faktory/go.mod
  tools/faktory/go.sum
Due: azure-pipeline-kkm.yml, azure-pipelines.yml

Fix concurrency errors in km_filesys around inuse and next internal fd (#1471)
  km/km_exec.c
  km/km_exec_fd_save_recover.c
  km/km_filesys.c
  km/km_filesys_private.h
Due: azure-pipeline-kkm.yml, azure-pipelines.yml

Build crun/krun with systemd support enabled.
  container-runtime/Makefile
Due: azure-pipeline-kkm.yml, azure-pipelines.yml

switch to ubuntu 20.04
  README.md
  cloud/azure/scripts/L0-image-provision.sh
  cloud/azure/scripts/vagrant-box.sh
  docs/FAQ.md
  docs/user-guide.md
  docs/vms_packer_in_ci_and_more.md
  tools/hashicorp/Makefile
  tools/hashicorp/box_images_templates/ubuntu2004.pkrvars.hcl
  tools/hashicorp/scripts/ubuntu.install_km.sh
  tools/hashicorp/test_ami_upload.pkr.hcl
  tools/hashicorp/test_box_upload.pkr.hcl
Due: azure-pipeline-kkm.yml, azure-pipelines.yml

switch to ubuntu 20.04 (#1490)
  README.md
  cloud/azure/scripts/L0-image-provision.sh
  cloud/azure/scripts/vagrant-box.sh
  docs/FAQ.md
  docs/user-guide.md
  docs/vms_packer_in_ci_and_more.md
  tools/hashicorp/Makefile
  tools/hashicorp/box_images_templates/ubuntu2004.pkrvars.hcl
  tools/hashicorp/scripts/ubuntu.install_km.sh
  tools/hashicorp/test_ami_upload.pkr.hcl
  tools/hashicorp/test_box_upload.pkr.hcl
Due: azure-pipeline-kkm.yml, azure-pipelines.yml

add kkm.run to release artifacts
  km/Makefile
Due: azure-pipeline-kkm.yml, azure-pipelines.yml

add kkm.run to release artifacts (#1491)
  km/Makefile
Due: azure-pipeline-kkm.yml, azure-pipelines.yml

added link to guide for developers wanting to package and run their apps
  README.md
Due: none

updated comment for Docker and Kubernetes
  README.md
Due: none

DOC ONLY-edits for adding application user guide link to readme (#1492)
  README.md
Due: none

change current release number
  current_release.txt
  km-releases/current_release.txt
Due: azure-pipeline-kkm.yml, azure-pipelines.yml

Add systemd-delvel to the buildenv fedora image
  tests/buildenv-fedora.dockerfile
Due: azure-pipeline-kkm.yml, azure-pipelines.yml

change current release number (#1494)
  current_release.txt
  km-releases/current_release.txt
Due: azure-pipeline-kkm.yml, azure-pipelines.yml

Change faktory to use containerd/image-spec v1.0.2 (#1476)
  tools/faktory/go.mod
  tools/faktory/go.sum
Due: azure-pipeline-kkm.yml, azure-pipelines.yml

fetch the default rel number
  km-releases/kontain-install.sh
Due: azure-pipeline-kkm.yml

fetch the default rel number (#1495)
  km-releases/kontain-install.sh
Due: azure-pipeline-kkm.yml

Add systemd-delvel to the buildenv fedora image (#1493)
  tests/buildenv-fedora.dockerfile
Due: azure-pipeline-kkm.yml, azure-pipelines.yml

Change km to use krun based on crun 1.4.2
  .github/workflows/km-ci-workflow.yaml
  container-runtime/Makefile
Due: azure-pipeline-kkm.yml, azure-pipelines.yml

#1481- added amzn to list of supported distros we can install to
  km-releases/kontain-install.sh
Due: azure-pipeline-kkm.yml

Call base shim Shutdown instead of direct exit
  cloud/k8s/deploy/shim/shim.go
Due: azure-pipeline-kkm.yml, azure-pipelines.yml

Change faktory to use containerd/containerd 1.4.12
  tools/faktory/go.mod
  tools/faktory/go.sum
Due: azure-pipeline-kkm.yml, azure-pipelines.yml

#1481- added amzn to list of supported distros we can install to (#1497)
  km-releases/kontain-install.sh
Due: azure-pipeline-kkm.yml

added support for install on amazon linux 2
  container-runtime/docker_config.sh
  container-runtime/podman_config.sh
Due: azure-pipeline-kkm.yml, azure-pipelines.yml

sm/amzn-1481 (#1500)
  container-runtime/docker_config.sh
  container-runtime/podman_config.sh
Due: azure-pipeline-kkm.yml, azure-pipelines.yml

Call base shim Shutdown instead of direct exit (#1498)
  cloud/k8s/deploy/shim/shim.go
Due: azure-pipeline-kkm.yml, azure-pipelines.yml

Change faktory to use containerd/containerd 1.4.12 (#1499)
  tools/faktory/go.mod
  tools/faktory/go.sum
Due: azure-pipeline-kkm.yml, azure-pipelines.yml

Change km to use krun based on crun 1.4.2 (#1496)
  .github/workflows/km-ci-workflow.yaml
  container-runtime/Makefile
Due: azure-pipeline-kkm.yml, azure-pipelines.yml

DOC ONLY-changed latest to current for install of Kontain
  README.md
Due: none

DOC ONLY-changed latest to current for install of Kontain (#1501)
  README.md
Due: none

Provide better doc for rebasing krun changes
  container-runtime/keeping-krun-fork-current.md
  container-runtime/oci-runtime.md
Due: azure-pipeline-kkm.yml, azure-pipelines.yml

static krun in main release artifact, {docker,podman}_config.sh in _bin
  .github/workflows/km-ci-workflow.yaml
  .github/workflows/release.yaml
  km/Makefile
Due: azure-pipeline-kkm.yml, azure-pipelines.yml

amzn related fix
  container-runtime/docker_config.sh
  km/Makefile
Due: azure-pipeline-kkm.yml, azure-pipelines.yml

change u_int to uint, move overcommit flag to machine
  km/km.h
  km/km_cpu_init.c
  km/km_hcalls.c
  km/km_mem.c
Due: azure-pipeline-kkm.yml, azure-pipelines.yml

static krun in main release artifact, {docker,podman}_config.sh in _bin (#1504)
  .github/workflows/km-ci-workflow.yaml
  .github/workflows/release.yaml
  container-runtime/docker_config.sh
  km/Makefile
Due: azure-pipeline-kkm.yml, azure-pipelines.yml

crun proposal
  docs/ecs/proposal.md
Due: none

Integrate label trigger KRUN into KM.
  container-runtime/Makefile
  docs/ecs/proposal.md
  km/Makefile
Due: azure-pipeline-kkm.yml, azure-pipelines.yml

oops. no nix (again...)
  container-runtime/Makefile
Due: azure-pipeline-kkm.yml, azure-pipelines.yml
